<p>
  <strong>Question: </strong>
  <%= @question.body %>
</p>

<p>
  <strong>Variants of answers: </strong>
  <%= render(@question.answers) %> 
  
  <% unless @question.answers.present? %>
    <p>The question has no answers</p>  
  <% end %>
</p>

<%= link_to 'Back', test_path(id: @question.test_id) %> 
<%= link_to 'Edit', edit_question_path(@question) %>
