<tr>
  <td><%= link_to truncate(gist.question.body, length: 25),
          admin_question_path(gist.question)%></td>
  <td><%= github_gist_link(gist.gist_hash)  %></td>
  <td><%= link_to nil, gist.user.email %></td>
</tr>
