<h1>The <%= @test_passage.test.title %> Test was completed! </h1>


<p>
  Result: 
  <b <%= @totals[:success] ? "class=success" : "class=failure" %> > 
    <%= @totals[:percanteges] %> % 
  </b>
</p>

<%= link_to 'All tests', tests_path %>
