<h1><%= t('.header') %></h1>

<table>
   <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Category</th>
    <th>Author</th>
    <th>Quantity questins</th>
    <th>Action</th>
  </tr>

  <%= render @tests %>

  <% unless @tests.present? %>
    <th colspan="6">No tests</th>  
  <% end %>
</table>
